/* @import "tailwindcss";
 */

/* :root {
  --primary: #000000;
  --primary-foreground: #ffffff;
  --secondary: #ffffff;
  --secondary-foreground: #000000;
  --background: #f0f2f5;
  --foreground: #2e3643;
  --muted: #f0f2f5;
  --muted-foreground: #2e3643;
  --accent: var(--primary);
  --accent-foreground: var(--primary-foreground);
  --card: var(--background);
  --card-foreground: var(--foreground);
  --destructive: var(--primary);
  --destructive-foreground: var(--primary-foreground);
  --border: var(--muted);
  --input: var(--muted);
  --ring: var(--primary);
}

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
} */
