# Exclude node_modules
node_modules
.pnpm-store

# Exclude build outputs
**/dist
**/build
**/.next

# Exclude dev files
**/.env
**/.env.*
!**/.env.example

# Exclude logs
**/logs

# Exclude git and github files
.git
.github

# Exclude editor directories
.vscode
.idea

# Exclude Turbo cache
.turbo
